/*Banner*/
.banner {
    height: 700px;
    background-color: #f3f5f7;
    ;

}

.banner .pic {
    display: flex;
    flex: 1;
    justify-content: center;
    height: 700px;
    width: auto;
    opacity: 0.7;
    /* position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%); */
}

.banner .pic .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Minecraft;
    font-size: 70px;
    color: white;
    text-align: center;
}

.banner .pic .overlay:hover {
    color: black;
    transition: all 1s;
}



/* 精选推荐 */
.recommend {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #f3f5f7;
    /* background-color:#ff9900; */
    /* display: flex;
    justify-content: space-between; */
}

.recommend ul {
    padding-left: 0;
    /* 去掉ul的默认左边距 */
}

.recommend ul li {
    height: 200px;
    width: 1200px;
    margin-bottom: 20px;
    background-color: white;
    display: flex;
    border: rgb(250, 170, 57) 1px solid;
}

.recommend ul li a {
    display: flex;
    /* 关键：让a标签成为flex容器 */
    align-items: center;
    /* 垂直居中 */
    width: 100%;
    height: 100%;
}

.recommend ul li a img {
    width: 300px;
    height: 100%;
    border: rgb(250, 170, 57) 0.2px solid;
}

.recommend ul li a .info {
    padding-left: 220px;
    /* 图片和文字的间距 */
    padding-right: 20px;
    flex: 1;
    /* 占据剩余空间 */
    font-family: Microsoft YaHei;
    font-size: large;
}

.recommend ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #f0f0f0;
    transition: background-color 0.3s;
}

/*路线查询*/
.search {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 1000px;
}

.search ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 100px;
}

.search ul li {
    background-color: white;
    height: 500px;
    width: 300px;
    margin-bottom: 20px;
    margin-right: 80px;
}


.search ul li a .pic .text {
    padding-top: 80px;
    height: 200px;
    width: 300px;
    text-align: center;
    color: white;
}

.search ul li a .text {
    text-align: center;
    padding-top: 80px;
}

.search ul li:hover {
    border: rgb(250, 170, 57) 0.2px solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #f0f0f0;
    transition: background-color 0.3s;
}