    * {
        text-decoration: none;
        list-style: none;
        color: black
    }

    .wrapper {
        margin: 0 auto;
        width: 1200px;
    }

    body {
        background-color: #f3f5f7;
    }

    .header {
        height: 100px;
        background-color: white;
    }

    .header .wrapper {
        padding-top: 29px;
        display: flex;
    }

    /* logo */

    .logo a {
        display: block;
        width: 195px;
        height: 41px;
        background-image: url(../images/logo.png);
        font-size: 0;
    }

    /* map */

    .nav {
        margin-left: 102px;
    }

    .nav ul {
        display: flex;
    }

    .nav li {
        list-style: none;
        margin-right: 24px;
    }

    .nav li a {
        display: block;
        padding: 0 8px;
        line-height: 27px;
        font-size: 19px;
        color: black;
        text-decoration: none;
    }

    /* active类选择器表示选中的a */
    .nav li .active,
    .nav li a:hover {
        border-bottom: 2px solid #00a4ff;
    }


    /* 搜索 */
    .search {
        display: flex;
        margin-left: 64px;
        width: 412px;
        height: 40px;
        background-color: #f3f5f7;
        padding-left: 19px;
        padding-right: 12px;
        border-radius: 20px;
    }

    .search input {
        flex: 1;
        border: 0;
        background-color: transparent;
        outline: none;
        /*去除提示框*/
    }

    .search input::placeholder {
        font: size 14px;
        color: #999;
    }

    /*父级flex布局，子级弹性盒子*/
    .search a {
        align-self: center;
        width: 16px;
        height: 16px;
        background-image: url(../images/123.png);
    }

    /*用户*/
    .user {
        margin-left: 32px;
        margin-top: 16px;
    }

    .user img {
        margin: right 7px;
        ;
        /* 行内块水平垂直放置方式 */
        vertical-align: middle;
    }

    .user span {
        font-size: 16px;
        color: #666;
    }


    /*banner*/
    .banner {
        height: 420px;
        background-color: #0092cb;
    }

    .banner .wrapper {
        display: flex;
        justify-content: space-between;
        height: 420px;
        /* background-image: url("#"); */
        background-color: #fff;
    }

    /*侧导航*/
    .banner .left {
        padding: 3px 20px;
        width: 191px;
        height: 414px;
        background-color: rgba(0, 0, 0, 0.42);
        list-style: none;
    }

    .banner .left a {
        /*块级：宽度是父级的100％*/
        display: block;
        height: 46px;
        line-height: 46px;
        color: #fff;
        font-size: 16px;
        text-decoration: none;
        list-style: none;
        text-align: left;
    }

    .banner .left a:hover {
        color: #00a4ff;
    }


    /*右侧导航*/
    .banner .right {
        margin-top: 20px;
        width: 218px;
        height: 105px;
        background-color: #209dd5;
        border-radius: 10px;
    }

    .banner .right h3 {
        margin-left: 14px;
        height: 48px;
        line-height: 48px;
        font-size: 15px;
        color: #fff;
        font-weight: 400px;
        /* text-align: center; */
    }

    .banner .right .content {
        padding: 14px;
        height: 257px;
        background-color: #ff0808;
        border-radius: 10px;
    }

    .banner .right dl {
        /* margin-top: 14px;
    margin-left: 14px; */
        margin-bottom: 12px;
        border-bottom: 1px solid #000;
    }

    .banner .right dt {
        margin-bottom: 8px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 700;
    }

    .banner .right dd {
        margin-bottom: 8px;
        font-size: 12px;
        line-height: 16px;
    }

    .banner .right dd span {
        color: #00a4ff;
    }

    .banner .right dd strong {
        color: #7d7d7d;
        font-weight: 400;
    }

    .banner .right a {
        display: block;
        height: 32px;
        background-color: #00a4ff;
        text-align: center;
        line-height: 32px;
        border-radius: 15px;
    }

    /* 精品推荐 */
    .recommend {
        display: flex;
        /* height: 60px; */
        background-color: #fff;
        margin: top 11px;
        padding: 0 10px;
        box-shadow: 0px 1px 2px 0px rgba(211, 211, 211, 0.5);
        /* line-height: 60px; */
        font-size: 16px;
    }

    .remcommend h3 {
        font-size: 16px;
        color: #00a4ff;
    }

    .recommend ul {
        flex: 1;
        display: flex;
        text-decoration: none;
        list-style: none;
    }

    .recommend ul li a {
        text-decoration: none;
        color: black;
        padding: 0 24px;
        border-right: 1px solid #e0e0e0;
        font-size: 16px;
    }

    .recommend ul li:last-child a {
        border-right: 0px;
    }

    .recommend .modify {
        font-size: 16px;
        color: #00a4ff;
        text-decoration: none;
        list-style: none;
    }

    /* 精品课程 */
    .course {
        margin-top: 15px;
    }

    .hd {
        display: flex;
        justify-content: space-between;
        height: 60px;
        line-height: 60px;
    }

    .hd h3 {
        font-size: 21px;
        font-weight: 400;
    }

    .hd .more {
        font-size: 14px;
        color: #999;
        text-decoration: none;
        list-style: none;
    }

    /* 课程内容-公共类 */
    .bd ul {
        list-style: none;
        text-decoration: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .bd li {
        margin-bottom: 14px;
        width: 228px;
        height: 271px;
        background-color: pink;
    }

    .bd li .pic {
        height: 156px;
    }

    .bd li a .text {
        padding: 20px;
        height: 115px;
        background-color: #fff;
    }

    .bd li .text h4 {
        margin-bottom: 13px;
        height: 40px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: black;
        /* color:#999; */
    }

    .bd li .text p {
        font-size: 14px;
        line-height: 20px;
        color: #999;
        text-align: center;
    }

    .bd li .text p span {

        color: #fa6400;
    }

    .bd li .text p i {

        font-style: normal;
    }