
        .titlee{
            background-color: white;
            /* line-height: 50px; */
            text-align: left;
            font-weight: 700px;
            font-size: 50px;
            text-indent: 50px;
            font-family:宋体
        }
        .img{
            text-align: center;
            
        }
        .table_things{
            /* display:flex;
            flex:1;
            flex-direction: center;
            align-items: center;
            justify-content: center;
            align-content: center;  */
            font-size:100px;
            color:white
        }

        /*字面*/
        .normal_sentence{
            font-size: auto;
            color:white;
            text-decoration: none;
        }
        .touched_sentence{
            font-size: auto;
            color:white;
            background-color: green;
            text-decoration: none;
        }



        .paragraph{
            text-indent: 2em;
            font-size:30px;
            font-family:Microsoft YaHei;
        }
        .paragraph2{
            text-indent:3em;
            font-size:20px;
            font-family:Microsoft YaHei;
        }


/*表格按钮界面*/
    .box{
        display: flex;
        background-color: green;
        width: auto;
        height: 30px;
        /* border: 1px solid green; */
        /* margin: 0;
        padding: 0;
        block-size:border-box; */
        
        text-align: center
    }
    .box>div{
        flex:1;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid green;
    }

/*顶部*/
    .top{
        display: flex;
        list-style: none;
        justify-content: space-between;
        flex:1;
        height: 55px;
        background-color: darkgreen;
        color:white;
        margin: 0;
        padding: 20px;
        block-size: border-box;
        font-family: Microsoft YaHei;
    }
    .top_logo{
        font-size: 50px;
        font-family: Microsoft YaHei;
    }
    .top_right{
        font-size: 30px;
        text-align: center;

    }