*{
    text-decoration: none;
    color: black;
    list-style: none;
}

/* Head */
.head{
    background-color:#0066cc;
    padding:20px;
    display: flex;
    justify-content: space-between;
}

.logo a{
    margin-left:20px;
    font-size:50px;
    font-family: Microsoft YaHei;
    color:white;
    
    background-image: url("#");
}

.navigation{
    color:whitesmoke;
    margin-left:60px;
    margin-right:60px;
    vertical-align: bottom;
    margin-top: auto;/*将字体推到底部*/
    /* border-right: 1px solid black; */
}

.navigation a{
    color:white;
    margin-left:60px;
    margin-right:60px;
}

.navigation .active,
.navigation a:hover{
    color:black;
    transition: all 1s;
    cursor: pointer;
    text-decoration: underline;
}

.touch{
    color:black;
}


/*Banner*/
.banner{
    height: 700px;
    background-color: lightgray;

}

.banner .pic{
    display: flex;
    height: 700px;
    width: 3720px;
    opacity: 0.7;
}

.banner .wrapper{
    display: flex;
    justify-content: space-between;
    background-image:url("../images/1.png");
    width: 300px;
    height: 700px;
    vertical-align: middle;
}

.overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Minecraft;
    font-size: 70px;
    color:white;
    text-align: center;
}

.overlay:hover{
    color:black;
    transition: all 1s;
}

.recommend_title{
    font-size: 30px;
    font-family: Minecraft;
    margin-left: 1em;
    margin-top: 20px;
}

/* 精选推荐 */
.recommend{
    margin-left: 50px;
    margin-top: 20px;
    height: 640px;
    width: 1300px;    
    background-color:rgb(244, 243, 243);
    /* background-color:#ff9900; */
    /* display: flex;
    justify-content: space-between; */
}

.recommend ul {
    padding-left: 0;  /* 去掉ul的默认左边距 */
}

.recommend ul li{
    height:200px;
    width: 1300px;
    margin-bottom: 20px;
    background-color: white;
    display: flex;
    border: black 1px solid;
}

.recommend ul li a {
    display: flex;  /* 关键：让a标签成为flex容器 */
    align-items: center;  /* 垂直居中 */
    width: 100%;
    height: 100%;
}

.recommend ul li a img {
    width: 300px;
    height: 100%;
    /* border: black 1px solid; */
}

.recommend ul li a .info {
    padding-left: 220px;  /* 图片和文字的间距 */
    padding-right: 20px;
    flex: 1;  /* 占据剩余空间 */
    font-family: Microsoft YaHei;
    font-size: large;
}

.recommend ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);  /* 内阴影效果 */
    background-color: #f0f0f0;  /* 鼠标悬停时的背景色 */
    transition: background-color 0.3s;  /* 平滑过渡效果 */
}

/*路线查询*/
.search{
    margin-top: 30px;
    height: 500px;
    width: 1300px;
}